body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #ffffff;
}

h1, h2, h3, h4, h5 {
	font-weight: 800;
}

h1 {
	font-size: 36px;
	line-height: 48px;
	letter-spacing: -0.5px;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	h1 {
		font-size: 60px;
		line-height: 65px;
	}
}

h2 {
	font-size: 24px;
	letter-spacing: -0.09px;
}

@media (min-width: 768px) {
	h2 {
		font-size: 40px;
	}
}

h3 {
	font-size: 20px;
	letter-spacing: 0;
}

@media (min-width: 768px) {
	h3 {
		font-size: 32px;
	}
}

h4 {
	font-size: 18px;
	letter-spacing: 0;
}

@media (min-width: 768px) {
	h4 {
		font-size: 22px;
	}
}

h5 {
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 5px 9px;
}

h6 {
	font-size: 16px;
	letter-spacing: 0.5px;
}

.section {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.fp-tableCell {
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
}

.section-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
	margin: 0 auto;
}

.section-content p {
	text-align: center;
}

@media (min-width: 1200px) {
	.section-content {
		max-width: 1200px;
	}
}

.work-cited {
	font-size: 20px;
}

.section-0 {
	background-image: url("../assets/0.jpg");
}

.section-1 {
	background-image: url("../assets/4.jpg");
}

.section-2 {
	background-image: url("../assets/2.jpg");
}

.section-3 {
	background-image: url("../assets/3.jpg");
}

.section-4 {
	background-image: url("../assets/1.jpg");
}

.section-5 {
	background-image: url("../assets/5.jpg");
}

.section-6 {
	background-image: url("../assets/6.jpg");
}

.section-7 {
	background-image: url("../assets/8.jpg");
}

.section-8 {
	background-image: url("../assets/9.jpg");
}

.section-9 {
	background-image: url("../assets/7.jpg");
}

.fp-right ul li a span:nth-child(2) {
	background-color: #fff !important;
}